page-domain-list {
     
    .network-btn-color{
        color:#ffa500
    }

    .buton-left{
         float: left ;
         width: 60% ;
         height: 100%;
    }

    .buton-right{
        float: left ;
        margin-left: 30px;
        width: 20% ;
    }

    .buton-alin{
        float:left ; 
        width: 100% ;

    }
     .btn-size{
         font-weight: 1000;
         height: 60px;
      
     }

     .button {
        background-color: #ffffff ;
        border: none;
        color: rgb(0, 0, 0);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: 1000;
        width: 75%;
        float: right; 
    }

    .size-img{
         width: 20%;
         height: 30px;
         float: left;
        //  background-color: #ffa500;
         margin-top: 15px;
    }
    .btn {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid red;
        background-color: red ;
        // float: right ;
      }

      .button1 {
        background-color:red ;
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        // margin: 2px 2px;
        // margin-top: 2px;
        float: right;
    }
    .button5 {border-radius: 50%;}
    
}
