page-details-ticket {
    .network-btn-color{
        color:#ffa500 ;
    }

    .image-size{
         width: 100% ;
         height: 150px ;
         
    }
    .font-size{
        font-size: 14px ;
    }
    .button-color1{
       background-color:#23a648 ;
       width: 40% ;
       height: 40px;
       border: black ;
       margin-top: 30px ;
    }
    .button-color2{
        background-color: #ed1c24;
        width: 40% ;
        float: right ;
        height: 40px;
        border: black ;
        margin-top: 30px ;
    }
}