page-accepted-ticket {

    .network-btn-color{
        color:#ffa500 ;
    }
    .text-status-date{
        font-size: 10px ;
    }

   .status-text-po{
      margin-top: 30px;
   }

   .btn{
       width: 100% ;
       background-color: #ffffff ;
       width: 100% ;
       padding: 0px ;
       text-align: left ;
       font-size: 13px;
   }

}
